html,body{
    width:100%;
    height:100%;
}
body{
    background:#f7f8f8;
    padding:0;
    margin:0;
    font-family:Open Sans;
    font-size:12px;
    line-height:20px;
    color:#333;
    font-weight: 300;
}
*{
    box-sizing: border-box;
}
.top{
    height:60px;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1001;
}
.top .logo{
    font-size:40px;
    padding:10px;
    height:60px;
    width:60px;
    position: fixed;
    top:0;
    left:0;
}
.top .logo i{
    font-size:40px;
    display: block;
    height:40px;
    width:40px;
}
.side{
    width:60px;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:1000;
    transition: 0.3s ease-out 0s;
    overflow: hidden;
    padding:0;
    margin: 0;
    box-shadow: 5px 0 20px rgba(0,0,0,0.1);
}
.side:hover{
    width:220px;
}
.side-box{
    width: 220px;
    overflow: hidden;
}
.main-page{
    padding-left:60px;
    padding-top:60px;
}
.main-menu{
    padding:10px 0;
    height:60px;
    font-size:20px;  
}
.main-menu .btn{
    color:#fff;
    border-radius: 5px;
    font-size:20px;
}
.main-menu .btn:active, .main-menu .btn:focus, .main-menu .btn:hover{
    background:#fff;
    color: #204d74;
}
.main-menu .open .btn{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.main-menu .open .dropdown-menu{
    border-top-right-radius: 0;
}
.main-menu .dropdown-menu{
    background: #fff;
    margin-top:0px;
    padding:0;
    overflow: hidden;
    border: none;
    font-family: Open Sans;
    font-weight: 400;
    border-radius:5px;
    box-shadow: 0px 5px 10px rgba(8,129,200,0.2);
}
.main-menu .dropdown-menu li{
    margin:0;
    padding:0;
}
.main-menu .dropdown-menu li a{
    padding:10px 15px;
    font-size:12px;
    transition: ALL 0.1s ease-out 0s;
}
.main-menu .dropdown-menu li a:hover{
    background-color: #2390D0;
    color:#fff;
}
.page-title{
    background:#eee;
    border-bottom:1px solid #ddd;
    padding:20px;
    line-height: 20px;
    font-size:18px;
    font-family: Lato;
}
.select-company{
    padding-left:50px;
    height:60px;
    float:left;
}
.select-company .btn{
    border:none;
    border-radius:5px;
    padding:10px 20px;
    margin:10px;
    background:#47A2D8;
    font-family: Lato;
    transition: ALL 0.1s ease-out 0s;
}
.select-company .btn:active, .select-company .btn:focus, .select-company .btn:hover, .select-company .btn:active,  .select-company .open .btn.active{
    background:#204d74;
}
.select-company .open .btn{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select-company .dropdown-menu{
    background: #204d74;
    margin-top:-10px;
    margin-left:10px;
    padding:0;
    overflow: hidden;
    border: none;
    font-family: Lato;
    border-radius:5px;
}
.select-company .open .dropdown-menu{
    border-top-left-radius: 0;
}
.select-company .dropdown-menu li{
    margin:0;
    padding:0;
}
.select-company .dropdown-menu li a{
    color:#fff;
    padding:10px 15px;
    font-size:12px;
}
.select-company .dropdown-menu li a:hover{
    background-color: #0881C8;
    color:#fff;
}
.top .breadcrumb{
    margin:10px;
    background:none;
    float:left;
    color:rgba(255,255,255,0.6);
    font-family: Lato;
    text-transform: uppercase;
    font-size:11px;
    padding:10px;
}
.top .breadcrumb li a{
    color:rgba(255,255,255,0.6);
}
.top .breadcrumb > li + li:before {
    color:rgba(255,255,255,0.6);
}
.top .breadcrumb li.active{
    color: #fff;
}

/* ICONS AND ICON_BOXES */
.icon-box{
    height:60px;
    width:60px;
    padding:20px;
    font-size:20px;
    transition: ALL 0.2s ease 0s;
    margin:0;
}
.icon-box.bothered{
    height:58px;
    width:58px;
    padding:20px;
    font-size:20px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}
.icon-box i{
    width:20px;
    height:20px;
    display: block;
    line-height: 20px;
    color:#fff;
    text-align: center;
}
.hovered{
    opacity:0.8;
    cursor:pointer;
}
.hovered:hover{
    background-color:#0881C8;
    opacity:1;
}
.side ul{
    margin:0;
    padding:0;
}
.side li{
    margin:0;padding:0;list-style: none;
    height:60px;
}
.side li .icon-box{
    display: inline-block;
}
.side li span{
    display: inline-block;
    padding:20px 10px;
    text-align: left;
    color:#fff;
    font-size: 12px;
    font-family: Lato;
}

/* COMPONENTS */
.large{
    font-size:20px;
    font-family: Lato;
    display: block;
}
.component-box{
    padding:20px;
}
.themed-btn{
    border-radius: 3px;
    border:0;
    min-width:100px;
    background: #00D267;
    color:#fff;
    font-family: Open Sans;
    padding:10px;
    display: inline-block;
    margin-right:2px;
}
.themed-btn:hover, .themed-btn:active, .themed-btn:focus, .themed-btn:link, .themed-btn:visited{
    background: #40DF8E;
    color:#fff;
    box-shadow: none;
    outline: none;
    outline-offset:0;
}
.themed-btn:hover{
    background: #40DF8E;
    color:#fff;
    box-shadow: none;
}
.themed-btn.danger-btn{
    background-color:#FF541E;
}
.themed-btn.danger-btn:hover, .themed-btn.danger-btn:active, .themed-btn.danger-btn:focus, .themed-btn.danger-btn:link, .themed-btn.danger-btn:visited{
    background-color:#FF3D00;
}
.themed-btn.neutral-btn{
    background-color:#CBCBCB;
}
.themed-btn.neutral-btn:hover, .themed-btn.neutral-btn:active, .themed-btn.neutral-btn:focus, .themed-btn.neutral-btn:link, .themed-btn.neutral-btn:visited{
    background-color: #ABABAB;
}
.themed-btn.clear-btn{
    background:none;
    border:1px solid #ccc;
    padding:9px;
    color: #aaa;
}
.themed-btn.clear-btn:hover, .themed-btn.clear-btn:active, .themed-btn.clear-btn:focus, .themed-btn.clear-btn:link, .themed-btn.clear-btn.clear-btn:visited{
    background:#f5f5f5;
    color:#555;
    border:1px solid #aaa;
}



/* HELPERS */
.pull-right{
    float:right;
}
.contain{
    padding:20px;
    clear: both;
    overflow: hidden;
}
.primary-radius{
    border-radius:5px;
}
.secondary-radius{
    border-radius:3px;
}
.close-btn{
    background:#fff;
    border-radius:50%;
    height:20px;
    width:20px;
    padding:5px;
    font-size:10px;
    line-height:10px;
    text-align: center;
    position: absolute;
    top:5px;
    right:5px;
}

/* Popups */
.popup{
    padding:10px;
    position: absolute;
    top:30%;
    left:20%;
    width:90%;
    max-width:600px;
    min-height: 40px;
    box-shadow: 0px 5px 10px rgba(8,129,200,0.2);
    position: relative;
}


/* BACKGROUND COLOR SWATCH */
.blue{
    background-color: #2390D0;
}
.alt-blue{
    background-color: #0881C8;
}
.light-blue{
    background-color: #47A2D8;
}
.fade-blue{
    background-color: #70B8E3;
}
.dark-blue{
    background-color: #055A8C;
}
.darkest{
    background-color: #203A49;
}

.grey{
   background-color: #CBCBCB; 
}

.red{
    background-color: #FF541E;
}
.light-red{
    background-color: #FF7549;
}
.dark-red{
    background-color: #FF3D00;
}

.yellow{
    background-color: #FFC31E;
}
.light-yellow{
    background-color: #FFCF49;
}
.dark-yellow{
    background-color: #FFBB00;
}

.green{
    background-color: #1AD877;
}
.light-green{
    background-color: #40DF8E;
}
.dark-green{
    background-color: #00D267;
}

/* FONT COLOR SWATCH */
.c-white{
    color: white;
}
.c-blue{
    color: #2390D0;
}
.c-alt-blue{
    color: #0881C8;
}
.c-light-blue{
    color: #47A2D8;
}
.fade-blue{
    color: #70B8E3;
}
.c-dark-blue{
    color: #055A8C;
}
.c-darkest{
    color: #203A49;
}

.c-grey{
    color: #777777;
}

.c-red{
    color: #FF541E;
}
.c-light-red{
    color: #FF7549;
}
.c-dark-red{
    color: #FF3D00;
}

.c-yellow{
    color: #FFC31E;
}
.c-light-yellow{
    color: #FFCF49;
}
.c-dark-yellow{
    color: #FFBB00;
}

.c-green{
    color: #1AD877;
}
.c-light-green{
    color: #40DF8E;
}
.c-dark-green{
    color: #00D267;
}